.pokemonDetails {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}
.pokemonCard {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid tomato;
  border-radius: 10px;
  padding: 10px;
}
.about {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px dashed tomato;
  border-radius: 10px;
  padding: 10px;
}
.image {
  width: 170px;
  height: 200px;
  object-fit: contain;
}
.description {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.stats {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
