.comparison {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.comparison h1 {
  font-size: 30px;
  color: tomato;
  margin-top: 20px;
}
.container {
  min-height: 200px;
}
table {
  margin-top: 20px;
  width: fit-content;
  border: 1px solid tomato;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
}
.tableHeader {
  display: flex;
  gap: 10px;
  padding: 10px;
  align-items: center;
}
.tableHeader th {
  border: 1px solid black;
  padding: 5px;
  border-radius: 10px;
  width: 100px;
}
thead {
  background-color: tomato;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
.tableData {
  display: flex;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.tableData td {
  width: 100px;
}
.removeBtn {
  background: tomato;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 9px;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
  margin-bottom: 10px;
}
.removeBtn:hover {
  background: white;
  color: tomato;
}
tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}
.noPokemon {
  display: flex;
  margin-top: 200px;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: black;
}
